{% load staticfiles %}
<html>
    <head>
        <title>cr0nenberg</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Orbitron" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link rel="icon" href="/home/marco/Schreibtisch/python/Icons/documen-send.png">
    </head>
    <body>
   
 <div class="page-header">
{% if user.is_authenticated%}
        <p class="top-menu"><font size="4">Hello {{ user.username }} (<a href="{% url 'logout' %}"</font>Log out</a>)</p>
	<a href="{% url 'post_draft_list' %}" class="top-menu"><small><span class="glyphicon glyphicon-edit"></span></small></a>
	<a href="{% url 'post_new' %}" class="top-menu"><small><span class="glyphicon glyphicon-plus"></span></small></a> 

{% else %}
<a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
{% endif%}
       <h1><a href="/">cr0nenberg</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>

