







{% extends 'blog/base.html' %}

	{% block content %}
            {% for post in posts %}
                <div class="post">
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
 
		 <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
		 <a class = "btn btn-default" href=""><span class="glyphicon glyphicon-thumbs-up"></span>Like</a>

		 <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
  
		 </div>
	    {% endfor %}
	
	{% endblock %}
